<% include ./partials/header %>

<div class="row justify-content-center">
	<div class="col-md-12 text-center">
		<h1 class="text-center h3">Login Page</h1>
	</div>
	<div class="col-lg-5 col-md-6 col-sm-8 col-xs-12">
		<form class="form-signin" action="/login" method="POST">
	      <label for="inputUsername" class="sr-only">Username</label>
	      <input type="text" id="inputUsername" name="username" placeholder="username" class="form-control" autofocus required>
	      <label for="inputPassword" class="sr-only">Password</label>
	      <input type="password" id="inputPassword" name="password" placeholder="password" class="form-control" required>
	      <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
	    </form>
	    	<a class="float-right" style="font-size: .75em" href="/forgot">Forgot Password</a>
			<a href="/campgrounds">Back</a>
	</div>
</div>


<% include ./partials/footer %>